 <hr /><h3>{{ art.tytul }}</h3>
        <small>{{ art.pub_date }}</small><br />
        <small><b>Autor:</b> <a href="{% url 'userArticles' art.pub_user.id %}">{{ art.pub_user.username }}</a></small><br />
        <br />
        <div>{{ art.tresc }}</div><br />
        <br />