{% extends "all.html" %}

{% block content %}
    <h3>Nowy post</h3><br/>
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <fieldset>
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.tytul.errors }}
                <label for="title">Tytuł:</label>
                {{ form.tytul }}
            </div>
            <div class="fieldWrapper">
                {{ form.tresc.errors }}
                <label for="title">Tekst:</label>
                {{ form.tresc }}
            </div>
            <div class="fieldWrapper">
                <label for="title">Autor:</label>
                <input type="text" disabled value="{{ user.username }}" />
            </div>
            <input type="submit" value="DODAJ" style="padding: 5px;" />
        </fieldset>
    </form>
{% endblock %}