{% extends "all.html" %}

{% block content %}
   <h2>Najnowsze wpisy</h2>
  
  {% for user in users %} | <a href="{% url 'userArticles' user.id %}">{{ user.username }}</a> |{% endfor %}
   
  {% for art in lista %}{% include "article.html" %}{% endfor %}
{% endblock %}