{% extends "all.html" %}

{% block content %}
    {% for user in users %} | <a href="{% url 'userArticles' user.id %}">{{ user.username }}</a> |{% endfor %}
    <h2>Najnowsze wpisy</h2>
    {% for art in lista %}{% include "article.html" %}{% endfor %}
{% endblock %}