<nav class="span-4 last">
            <br />
            <ul id="menu">
                <li><a href="{% url 'index' %}">WSZYSTKIE</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Zaloguj się</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Wyloguj się</a></li>
                    <li><a href="{% url 'create' %}">Dodaj</a></li>
                {% endif %}
            </ul>
        </nav>