{% extends "base.html" %}

{% block sidebar %}
            <ul>
                <li><a href="{% url 'index' %}">Powrót</a></li>
            </ul>
            {% endblock %}

{% block content %}
    <div class="wpis">
    <h2><b>{{ wpis.tytul  }}</b></h2>
    <p>{{ wpis.tresc }}</p>
    <p><b>Autor:</b>{{ wpis.autor }}</p>
        <hr/>
        </div>
{% endblock %}