{% extends "base.html" %}

{% block content %}

 <div style="text-align: center;">
      <h2>Bardzo mały blog:</h2><br/>

             <a href="{% url 'addArticle' %}">Wpisz się</a><hr/>
        </div>
{% if  articles.count > 0 %}
<div id="wpis">


{% for wpis in articles %}
    <div>
    <div>
    <b><a href="{% url 'article' wpis.id %}"> {{ wpis.tytul }} </a></b><br/></div>
    <div class="content">
    {{ wpis.tresc }}<br/></div>
    <div>
    <b>Autor:</b>{{ wpis.autor }}<br/></div>
    <hr/>
    </div>
    {% endfor %}
</div>

{% else %}
    <p>Nie ma wpisow</p>
{% endif %}
{% endblock %}
