<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Moja Strona</title>
        <style type="text/css">
        html {
          margin:0;
          padding:0;
          border:0;
        }
        body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}

        body{
          font-size:75%;
          color:#222;
          background:#fff;
          font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        header {
          border-bottom: 1px solid lightgray;
        }
        h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#89a820;}
        h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
        h2 {font-size:2em;margin-bottom:0.75em;}
        h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
        h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
        h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
        h6 {font-size:1em;font-weight:bold;}
        a {
          color:#06c;
          text-decoration:underline;
        }
        .container{
          width:950px;
          margin:0 auto;
          display:block;
        }
        .menu-wrapper{
          padding-right:24px;
          margin-right:25px;
          border-right:1px dotted #ddd;
          width:100px;
          float:left;
        }
        .wrapper{
          padding-right:24px;
          margin-right:25px;
          width:450px;
          display:inline;
          float:left;
        }
        #menu{
        }
        .alert, .error{
          padding:0.8em;
          margin-bottom:1em;
          border:2px solid #ddd;
          font-weight:bold;

        }
        .alert{
           background:#acc262;
           color:#0f0f0f;
           border-color:#89a820;
        }
        .error{
          background:#fbe3e4;
          color:#8a1f11;
          border-color:#fbc2c4;
        }
        .errorlist { color: red; }

        .small {
          font-size:.8em;
          margin-bottom:1.875em;
          line-height:1.875em;
        }
        .large {
          font-size:1.2em;
          line-height:2.5em;
          margin-bottom:1.25em;
        }
        /* LISTY */
        li ul, li ol {margin:0;}
        ul {
          list-style-type:none;
          margin:0 1.5em 1.5em 0;
          padding-left:1.5em;
        }
        /* FORMULARZE */
        label {font-weight:bold;}
        input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
        legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
        input[type=text], input[type=password], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;}
        input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
        select {background-color:#fff;border-width:1px;border-style:solid;}
        input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
        input.text, input.title {width:300px;padding:5px;}
        input.title {font-size:1.5em;}
        textarea {width:390px;height:250px;padding:5px;}
        form.inline {line-height:3;}
        form.inline p {margin-bottom:0;}
        .error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
        .error{background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
        .alert{background:#acc262; color:#0f0f0f; border-color:#89a820;}
        .notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
        .success {background:#e6efc2;color:#264409;border-color:#c6d880;}
        .info {background:#d5edf8;color:#205791;border-color:#92cae4;}
        .error a{color:#8a1f11;}
        .alert a{color:#444d27;}
        .notice a {color:#514721;}
        .success a {color:#264409;}
        .info a {color:#205791;}
    </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
            {% if messages %}
                {% for message in messages %}
                <p class="notification{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>