{%  extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'index' %}">Powrót</a></li>
</ul>
{% endblock %}
{% block content %}
    {% if wiad %}
        <h3 style="text-align: center">{{ wiad }}</h3>
    {% endif %}
<form action="{% url 'added-success' %}" method="post">
    {% csrf_token %}
    <p>Tytuł:<input name="tytul" type="text" /></p>
    <p>Treść:<input name="tresc" type="text" /></p>
    <p>Autor:<input name="autor" type="text" /></p>
    <input type="submit" value="Wyślij" />
</form>

{% endblock %}